body {
  background-color: #7f9bb9;
}

h3 {
  opacity: 1;
}

.padded {
  padding: 20px;
}


.centered {
  text-align: center;
}

.fellowsPic {
  background: url('../img/fellows.jpg');
  background-size: cover;
}

.corpPic {
  background: url('../img/corp.jpg');
  background-size: cover;
}

.individualsPic {
  background: url('../img/individuals.jpg');
  background-size: cover;
}



.panel-heading.translucent {
  background: rgba( 255, 255, 255, 0.5 )
}

.opaque {
  opacity: 1;
}
