body {
  background-color: #F0F6F7;
}

h3 {
  opacity: 5;
}

.padded {
  padding: 20px;
}


.centered {
  text-align: center;
}

<<<<<<< HEAD
.corp {
  background: url('img/corp.jpg');
=======
.fellowsPic {
  background: url('../img/fellows.jpg');
  background-size: cover;
}

.corpPic {
  background: url('../img/corp.jpg');
  background-size: cover;
}

.individualsPic {
  background: url('../img/individuals.jpg');
  background-size: cover;
>>>>>>> e9d61cd33cbe79a4e56e5531bcb66416854741f2
}



.panel-heading.translucent {
  background: rgba( 255, 255, 255, 0.5 )
}

.opaque {
  opacity: 1;
}

.thumbnail {
	position: relative;
}


.post-content {
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: .5;
    top:0;
    left: 0;
    position: absolute;
}

.centre
{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homepicone {
    background-image: url("img/homepicone.jpg");
    background-size: cover;
}

.homepictwo {
    background-image: url("img/homepictwo.jpg");
    background-size: cover;
}

.homepicthree {
    background-image: url("img/homepicthree.jpg");
    background-size: cover;
}